<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小猪之家</title>
    <link href="/css/test.css" rel="stylesheet"/>
    <link href="/css/layui/css/layui.css" rel="stylesheet"/>
</head>
<body>


    <div id="circle" class="all-div">
        <input id="uId" type="hidden" th:value="${userInfo.uId}"/>
        <div id="top-div" class="top-div">
            <div id="head-div" class="cla-head-div">
                <span class="return-span"><span name="return-icon"></span></span>
                <span class="state-span">当前状态：<span id="heart"></span></span>
                <span class="user-span"><span name="user-icon"></span></span>
            </div>
            <div id="content" class="content-div">

            </div>
            <div id="bot-div" class="bottom-div">
                <input id="sid" class="name-text" placeholder="昵称" th:value="${userInfo.uNickname}" disabled="disabled"/>
                <span id="equipment-span" class="equi-span">当前登录设备：电脑</span>

                <span class="out-send-span">
                    <textarea id="send-text" rows="1" class="send-text" placeholder="请输入内容..."></textarea>
                    <button id="send-btn" class="send-btn">发送</button>
                    <!--<button id="login-out" class="exit-btn">退出</button>-->
                    <a id="pop-a"><span id="plus-a" class="more-span"><span name="more-icon"></span></span></a>
                    <a onclick="user_exit()"><span class="span-shutdown-png">&nbsp;</span></a>
                </span>
                <!--<button id="pop-btn" type="button">弹出框</button>-->
            </div>
        </div>
        <div id="pop-function-div" class="cla-pop-function-div">
            <button type="button" class="cla-upload-btn">图片
                <input id="img-upload" accept="image/*,audio/*" type="file"/>
            </button>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/pinch-zoom.js"></script>
    <script src="/js/assembly.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/equipment.js"></script>

</body>
</html>