<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学习fdui</title>
    <!-- pretty version for development -->
    <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.css">
    <!-- minified version for production -->
    <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
</head>
<body>

<div class="ink-grid">
    <div class="column-group push-center">
        <div class="all-50">
            50%
        </div>
    </div>
</div>


</body>
</html>